.appBar {
  height: 100%;
}

.toolbar {
  min-height: 100%;
}

.brand {
  padding-left: 1rem;
}

.menuItems {
  a {
    padding: 0.5rem;
    margin-right: 1rem;
  }

  i {
    font-size: 1.2rem;
  }
}

.button {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: auto;
  }
}
