.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 0.15fr 1fr 1fr 0.1fr;
  grid-template-columns: 0.1fr 1fr 1fr 1fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer";
}

.nav {
  grid-area: nav;
  background-color: #ebebeb;
}

.sidebar {
  grid-area: sidebar;
  background-color: #ffffffd5;
}

.main {
  grid-area: main;
  background-color: #f8e7e7d5;
}

.footer {
  grid-area: footer;
  background-color: #e0ddddd5;
}
